@model dynamic

@{
    ViewBag.Title = "Update Streams";
    ViewBag.Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @Styles.Render("~/Content/Stream/streamPage.css");
    @Scripts.Render("~/Scripts/jquery-1.10.2.js");
    @Scripts.Render("~/Scripts/stream/streamPage.js")
}

<div class="container">
    <div class="col-md-6">
        <h3>Find Stream</h3>
        <span>Stream Name:</span>
        <select id="streamNameDropdown"></select>
        <br />
        <span>Data Type:</span>
        <select id="dataTypeDropdown"></select>
        <br />
        <h4>Current Stream Data</h4>
        <span>Created At:</span>
        <span id="dataCreatedAt"></span>
    </div>
    <div class="col-md-6 ">
        <h3>Update Stream</h3>
        <span>Set Time:</span>
        <select id="kmlDataDropdown"></select>
        <input id="updateStreamButton" type="submit" value="Update" />
    </div>
</div>
